body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 27px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 55%;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 54px;
}
.header-nav a {
    color: #2B3541;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

}
.header-icon {
    display: flex;
    gap: 30px;
}
.header-icon a {
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.header-icon a:hover {
    transform: scale(1.2);
    opacity: 1;
 }
.banner {
    display: flex;
    height: 852px;
}
 
.content {
    flex: 0 0 676px;
    padding-top: 170px;
    padding-bottom: 170px;
}
.content-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 125%; /* 60px */
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--dark, #2B3541);
}
.content-description {
    color: #2B3541;
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 20px;
}
.content-text {
    display: grid;
    width: 297px;
    padding-left: 92px;
}
.content-txt {
    color: var(--dark, #2B3541);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-bottom: 40px;
}
.content-link {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 24px */
    text-transform: uppercase;
    color: #2B3541;
    background-color: #FBF138;
    text-align: center;
    text-decoration: none;
    padding: 20px 30px;
    width: 252px;
    border: 0;
    border: 0 solid #FBF138;
    transition: 0.3s;
    cursor: pointer;
}
.content-link:hover {
    background-color: #2B3541;
    color: #FBF138;
}
.banner-arrow {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 52px;
    height: 55px;
    
}
.banner .banner-arrow {
    top: 936px;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.visual-bn {
    width: 464px;
    height: 100%;
    opacity: 0.2;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
}
.visual img {
    width: 996px;
    position: absolute;
    right: -172px;
    top: 33px;
}
section {
    margin-top: 160px;
}
.menu-title {
    color: #2B3541;
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 40px;
}